/**
 * User: deadguy
 * Copyright: deadguy
 */

 configuration {
	theme: "~/.cache/wal/colors-rofi-dark.rasi";
	display-drun:    "Activate";
	display-run:     "Execute";
	display-window:  "Window";
	show-icons:      true;
	sidebar-mode:    true;
}